body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

button {
  color: white;
  padding: 10px 20px;
  background-color: green;
  font-size: 24px;
  outline: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
